@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
html,
body {
  font-family: "Montserrat", sans-serif;
  background: #ba3940;
  color: #ffffff;    
  scroll-behavior: smooth;
}



a {
  text-decoration: none;
}

/* Navbar */
#navbar a {
  color: #ffffff;
}

#navbar .logo {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
  float: left;
  padding-top: 16px;
}

#navbar ul {
  list-style: none;
  float: right;
  text-transform: uppercase;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background: #a0fa93;
}


/* Showcase */

.showcase-img {
  float: left;
  width: 50%;
}

.showcase-img img {
  width: 90%;
}

.showcase-text {
  float: right;
  width: 50%;
  padding: 20px 20px 20px 40px;
}


.showcase-text h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 46px;
}
.showcase-text .title-one {
  font-size: 29px;
  font-weight: 400;
}
.showcase-text .title-two {
  color: #841934;
}
.showcase-text .large {
  padding-top: 20px;
}

header {
  height: 100vh;
}



.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px;
}


/* About */
#about {
  background: #841934;
  padding: 100px 0;
}

.about-title {
  float: left;
  width: 45%;
  padding-top: 340px;
}

.about-description {
  float: left;
  width: 55%;
}

.about-description .large {  
  padding-bottom: 10px;
  font-size: 1.25rem;
}

/* General */
h2 { 
  font-size: 50px; 
  text-transform: uppercase;
  font-weight: 300;
  color: #FFF;;
}

p {
font-size: 1rem;
margin: 10px 0;
line-height: 1.7em;
}


/* Contact */
#contact {
  padding: 120px 0;
}

.contact-form {
  float: left;
  width: 45%;
  padding: 20px;
}

.contact-title {
  float: right;
  width: 55%;
  padding-top: 160px;
  text-align: center;
}




/* form label {
  display: inline-block;
  margin-bottom: 0.5rem;  
  padding-bottom: 10px;
} */

form .form-group {
  margin-bottom: 1rem;
}

form .form-control {  
  width: 100%;
  padding: 0.375rem 0.7rem;
  font-size: 1rem;
  line-height: 1.7;
  border: none; 
  
}




/* Boton Form */
.btn {
  display: inline-block;
  font-size: 15px;
  padding: 14px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-light {
  background: #841934;
  border: 1px solid #841934;
  color: #fff;
  width: 100%;
}

.btn-light:hover {
  background: #fff;
  border: 1px solid #841934;
  color: #841934;
}

